# Student Housing Matchmaker Progress Report
CS 418 Spring 2025

# Project Introduction

# Any changes since the proposal

1. The data for colleges was updated to just handle Chicago colleges. Originally the data included all colleges within Illinois, but was cleaned to soley just include Chicago colleges. This left us with only 70 Chicago colleges to work with.

# Data

**Colleges dataset**: The data for colleges was updated to just handle Chicago colleges. Originally the data included all colleges within Illinois, but was cleaned to soley just include Chicago colleges. This left us with only 70 Chicago colleges to work with. After filtering to just include Chicago colleges, the dataset was cleaned to just include the important columns needed for our project, which is just to include Name and Address of the Chicago college.

# Exploratory Data Analysis

In [12]:
import pandas as pd

In [61]:
il_colleges_df = pd.read_csv("CollegeNavigator_Search_2025-03-03.csv")
print(f"Original database containing total Illinois Universities: {len(il_colleges_df)}")

Original database containing total Illinois Universities: 249

In [63]:
chicago_colleges_df = il_colleges_df[il_colleges_df['Address'].str.contains('Chicago', case=False, na=False)]
chicago_cleaned = chicago_colleges_df[['Name', 'Address']].reset_index(drop=True)
chicago_cleaned

,Name,Address
0,Adler University,"17 North Dearborn Street, Chicago, Illinois 60602"
1,American Academy of Art College,"332 S Michigan Ave, Chicago, Illinois 60604-4302"
2,American Islamic College,"640 W Irving Park RD, Chicago, Illinois 60613"
3,Aveda Institute-Chicago,"2828 N Clark St, Chicago, Illinois 60657"
4,Aviation Institute of Maintenance-Chicago,"3711 South Ashland Avenue, Chicago, Illinois 6..."
...,...,...
65,University of Illinois Chicago,"601 S Morgan, Chicago, Illinois 60607"
66,University of Notre Dame -,"224 South Michigan Avenue, Chicago, Illinois 6..."
67,VanderCook College of Music,"3140 South Federal Street, Chicago, Illinois 6..."
68,Prairie State College,"202 South Halsted Street, Chicago Heights, Ill..."
69,Rosalind Franklin University of Medicine and S...,"3333 Green Bay Road, North Chicago, Illinois 6..."

In [59]:
print(f"Updated/Cleaned database containing total Chicago universities: {len(chicago_universities_df)}")

Updated/Cleaned database containing total Chicago universities: 70

# Visualizations

# ML Analyses

# Reflection