# Student Housing Matchmaker Progress Report
CS 418 Spring 2025

# Project Introduction

# Any changes since the proposal

1. The data for colleges was updated to just handle Chicago colleges. Originally the data included all colleges within Illinois, but was cleaned to soley just include Chicago colleges. This left us with only 70 Chicago colleges to work with.

# Data

**Colleges dataset**: The data for colleges was updated to just handle Chicago colleges. Originally the data included all colleges within Illinois, but was cleaned to soley just include Chicago colleges. This left us with only 70 Chicago colleges to work with. After filtering to just include Chicago colleges, the dataset was cleaned to just include the important columns needed for our project, which is just to include Name and Address of the Chicago college. (chicago_colleges_df)

**Chicago Rentals dataset**: The data for rentals was updated to include important columns like ['Price', 'Address', 'Listing URL', 'Short Address', 'Zip', 'Beds', 'Baths', 'Raw Property Details', 'Latitude', 'Longitude']. Then updated NaN values for Baths to 1.0. Noticed there were some undisclosed addresses. Since our goal is to provide students with apartment details, these were removed after noticing there were 70 rows that contained 'undisclosed Address'. Made sure baths and beds were in floats to maintain readability. (chicago_rentals_df)

**CTA Train dataset**:

# Exploratory Data Analysis

In [87]:
import pandas as pd
import numpy as np

In [61]:
il_colleges_df = pd.read_csv("CollegeNavigator_Search_2025-03-03.csv")
print(f"Original database containing total Illinois Universities: {len(il_colleges_df)}")

Original database containing total Illinois Universities: 249

In [128]:
chicago_colleges_df = il_colleges_df[il_colleges_df['Address'].str.contains('Chicago', case=False, na=False)]
chicago_colleges_df = chicago_colleges_df[['Name', 'Address']].reset_index(drop=True)
chicago_colleges_df

,Name,Address
0,Adler University,"17 North Dearborn Street, Chicago, Illinois 60602"
1,American Academy of Art College,"332 S Michigan Ave, Chicago, Illinois 60604-4302"
2,American Islamic College,"640 W Irving Park RD, Chicago, Illinois 60613"
3,Aveda Institute-Chicago,"2828 N Clark St, Chicago, Illinois 60657"
4,Aviation Institute of Maintenance-Chicago,"3711 South Ashland Avenue, Chicago, Illinois 6..."
...,...,...
65,University of Illinois Chicago,"601 S Morgan, Chicago, Illinois 60607"
66,University of Notre Dame -,"224 South Michigan Avenue, Chicago, Illinois 6..."
67,VanderCook College of Music,"3140 South Federal Street, Chicago, Illinois 6..."
68,Prairie State College,"202 South Halsted Street, Chicago Heights, Ill..."
69,Rosalind Franklin University of Medicine and S...,"3333 Green Bay Road, North Chicago, Illinois 6..."

In [59]:
print(f"Updated/Cleaned database containing total Chicago universities: {len(chicago_universities_df)}")

Updated/Cleaned database containing total Chicago universities: 70

In [162]:
chicago_rentals_df = pd.read_csv("Zillow Rental (Chicago Area 03_03_2025).csv")
chicago_rentals_df = chicago_rentals_df[['Price', 'Address', 'Listing URL', 'Short Address', 'Zip', 'Beds', 'Baths', 'Raw Property Details', 'Latitude', 'Longitude']].reset_index(drop=True)

In [164]:
# Keep Beds and Baths as floats, cleaned NaN baths
chicago_rentals_df['Baths'] = chicago_rentals_df['Baths'].fillna(1)
chicago_rentals_df['Beds'] = chicago_rentals_df['Beds'].astype(float)

In [166]:
undisclosed_count = chicago_rentals_df[chicago_rentals_df['Short Address'] == '(undisclosed Address)'].shape[0]
print(f"Undisclosed address count: {undisclosed_count}")

Undisclosed address count: 70

In [168]:
# Dropped undisclosed Address from database so left with 2731 rows.
chicago_rentals_df = chicago_rentals_df[chicago_rentals_df['Short Address'] != '(undisclosed Address)'].reset_index(drop=True)
chicago_rentals_df

,Price,Address,Listing URL,Short Address,Zip,Beds,Baths,Raw Property Details,Latitude,Longitude
0,$532,"4713 N Western Ave, Chicago, IL 60625",https://zillow.com//apartments/chicago-il/canv...,4713 N Western Ave # 302,60625,0.0,1.0,Studio,41.967130,-87.688545
1,$600,"6340 S Eberhart Ave #1, Chicago, IL 60637",https://www.zillow.com/homedetails/6340-S-Eber...,6340 S Eberhart Ave #1,60637,3.0,1.0,3 bds | 1 ba | 1000 sqft,41.779083,-87.613525
2,$639,"Ferdinand, 5412 W Ferdinand St, Chicago, IL 60644",https://www.zillow.com/apartments/chicago-il/f...,5412 W Ferdinand St #573B2222C,60644,0.0,1.0,Studio | 1 ba | 400 sqft,41.889187,-87.761024
3,$650,"6115 S Drexel Ave #1, Chicago, IL 60637",https://www.zillow.com/homedetails/6115-S-Drex...,6115 S Drexel Ave #1,60637,1.0,1.0,1 bds | 1 ba,41.783596,-87.603920
4,$650,"158 N Central Ave, Chicago, IL 60644",https://www.zillow.com/homedetails/158-N-Centr...,158 N Central Ave,60644,0.0,1.0,Studio | 1 ba,41.883904,-87.765465
...,...,...,...,...,...,...,...,...,...,...
2726,"$1,750","4056 N Leamington Ave #2R, Chicago, IL 60641",https://www.zillow.com/homedetails/4056-N-Leam...,4056 N Leamington Ave #2R,60641,1.0,1.0,1 bds | 1 ba | 900 sqft,41.954990,-87.756325
2727,"$1,750","3903 W Belden Ave #2, Chicago, IL 60647",https://www.zillow.com/homedetails/3903-W-Beld...,3903 W Belden Ave #2,60647,2.0,1.0,2 bds | 1 ba | 700 sqft,41.922546,-87.724594
2728,"$1,750","5123 S Indiana Ave #3, Chicago, IL 60615",https://www.zillow.com/homedetails/5123-S-Indi...,5123 S Indiana Ave #3,60615,3.0,1.0,3 bds | 1 ba | 1500 sqft,41.801254,-87.620570
2729,"$1,750","2653 N Harding Ave, Chicago, IL 60647",https://www.zillow.com/homedetails/2653-N-Hard...,2653 N Harding Ave,60647,2.0,1.0,2 bds | 1 ba,41.929714,-87.725480
2730,"$1,750","649 E Marquette Rd, Chicago, IL 60637",https://zillow.com//b/marquette-649-e-chicago-...,649 E Marquette Rd Apt 3,60637,4.0,1.0,4 bds,41.774788,-87.608600

# Visualizations

# ML Analyses

# Reflection